---

/* const header = Astro.props.header;
const text = Astro.props.text ; */

const {header, soldOut} = Astro.props;
---

<article>
    <h2> {header}</h2>
   {soldOut && <p>Udsolgt </p>}
    <p> Lorum larum</p>
    <button> Klik her </button>

    </article>

    <style>

    </style>